.index-bg {
  background-color: black;
}

.title {
  font-family: Helvetica;
}

.difficulty-container {
  border-radius: 2rem;
}

.card-border {
  border-radius: 1.6rem;
}

#game-status-message{

  display: none; 
}

.proper-icon-size {
  font-size: 2em;
}

#left-arrow, #right-arrow {
  color: #0f51f9
}

.canvas {
  /* The reason why we are adding 16px 2 times to the 800px
   * is because the bootstrap "col" class adds 16px padding horizontally on each side
   */
  max-width: calc(12px + 800px + 12px);
}

/* Dette er for at ændre størrelsen på form-check-input  */
#black-or-white-switch{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

canvas {
  /* Looks nicier! */
  border-radius: 1%;
}

#difficulty-form-badge {
  width: 100%;
}

.checked-switch-background {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
