{% extends "layout.html" %}
{% block title %}Game{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-5">
    <main class="col canvas">

      <div class="card" id="game-status-message" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The winner is: </h5>
            <p class="card-text">The winner is white! </p>
            <a href="#" class="btn btn-primary">New game</a>
            <a href="#" class="btn btn-primary">Return home</a>
        </div>
      </div>

    </main>
  </div>
{% endblock %}

{% block scripts %}
  <!-- p5.js JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/p5@1.3.0/lib/p5.js"></script>
  <!-- js-cookie JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <!-- Our own custom made JavaScript code containing all of the chess related stuff -->
  <script src="../static/js/piece.js"></script>
  <script src="../static/js/board.js"></script>
  <script src="../static/js/sketch.js"></script>
  <script src="../static/js/MouseActivty.js"></script>
{% endblock %}
