{% extends "layout.html" %}
{% block title %}Game Setup{% endblock %}

{% block content %}
<center>
<br>
<img src="../static/images/neuro-solutions-small-white.png" alt="brand-logo" width="300" height="auto">
</center>
<div class="row my-5">
<form action="#" method="POST">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="row text-center">
      <div class="card difficulty-container shadow-lg px-3">
        <div class="card-body pb-5">
          <h4 class="card-title text-center">Settings - Set AI difficulty</h4>
          <div class="card-body">
            <p class="card-description text-center">Center aligned text on all viewport sizes.</p>
            <br>
            <div class="row">
              <div class="col">
                <span class="badge rounded-pill p-4" id="difficulty-form-badge">
                  <div class="row justify-content-between">
                    <div class="col-1">
                      <i id="left-arrow" class="proper-icon-size bi bi-caret-left-fill"></i>
                    </div>
                    <div class="col-10">
                      <input value="0" id="difficulty" type="range" class="form-range" min="0" max="6">
                    </div>
                    <div class="col-1">
                      <i id="right-arrow" class="proper-icon-size bi bi-caret-right-fill"></i>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <br>
            <hr>
            <div class="row mt-5 mb-1">
              <div class="col">
                <div class="form-check form-switch text-center">
                  <p class="mb-1">
                    <b>Choose between playing as black or white by clicking this switch</b>
                    <br>
                    <b>If you don't understand this part please read this <a href="https://www.chess.com/learn-how-to-play-chess">start rules</a><div id="set-up-chess-board"></div></b>
                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-1">
                <div class="form-check form-switch">
                  <br>
                  <input class="form-check-input" type="checkbox" id="black-or-white-switch">
                </div>
              </div>
            </div>
            <br>
            <hr>
          </div>
          <div class="row mt-3">
            <div class="col text-center">
              <a class="px-4 fs-2 text-decoration-none badge rounded-pill bg-primary text-uppercase text-white"
                href="{{ url_for('game') }}" role="button">Start Game</a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col text-center">
              <a class="px-3 fs-5 text-decoration-none badge rounded-pill bg-danger text-uppercase text-white"
                href="{{ url_for('home') }}" role="button">Back to Menu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


{% endblock %}

{% block scripts %}
<script>
  // Setup and retrieve the proper html elements
  const difficultyFormEl = document.getElementById("difficulty");
  const difficultyFormBadgeEl = document.getElementById("difficulty-form-badge");

  const leftArrow = document.getElementById("left-arrow");
  const rightArrow = document.getElementById("right-arrow");

  const switchToggle = document.getElementById("black-or-white-switch");

  const upperLimit = 6;


  const setProperBadgeColor = function (rangeVal) {
    const Red = 255 * (rangeVal / upperLimit);
    const Green = 255 - (255 * (rangeVal / upperLimit));
    const Blue = 0;

    difficultyFormBadgeEl.style.background = `rgb(${Red}, ${Green}, ${Blue})`;
  }

  // Setup the colors the first time!
  setProperBadgeColor(0);

  // Here we register an event listener to the range form input tag,
  // to capture the difficulty level the user has specified.
  difficultyFormEl.addEventListener("input", function (event) {
    setProperBadgeColor(event.target.value);
  });

  leftArrow.addEventListener("click", function () {
    difficultyFormEl.value = parseInt(difficultyFormEl.value) - 1;
    setProperBadgeColor(difficultyFormEl.value);
  });

  rightArrow.addEventListener("click", function () {
    difficultyFormEl.value = parseInt(difficultyFormEl.value) + 1;
    setProperBadgeColor(difficultyFormEl.value);
  });

  switchToggle.addEventListener("change", function () {
    if (this.checked) switchToggle.classList.add("checked-switch-background");
    else switchToggle.classList.remove("checked-switch-background");
  });
</script>
{% endblock %}