{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col-6">
      <img src="../static/images/neuro-solutions-white.png" alt="brand-logo" width="750" height="auto">
    </div>
    <div class="col-12 col-md-2 align-self-center offset-md-3">
      <div class="d-grid gap-2">
        <a class="px-5 fs-4 text-decoration-none badge rounded-pill bg-white text-uppercase text-dark" role="button" href="{{ url_for('game_setup') }}">Start</a>
        <a class="px-5 fs-4 text-decoration-none badge rounded-pill bg-primary text-uppercase text-white" role="button" href="{{ url_for('science') }}">The Science</a>
        <a class="px-5 fs-4 text-decoration-none badge rounded-pill bg-danger text-uppercase text-white" role="button" href="https://www.chess.com/learn-how-to-play-chess" target="_blank">the rules</a>
      </div>
    </div>
  </div>
{% endblock %}
