{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col">
      <h1 class="title fst-italic text-danger d-inline">Chess</h1>
      <h1 class="title fst-italic text-primary d-inline">Cog</h1>
      <h1 class="title fst-italic text-white d-inline">Increaser</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <img src="../static/images/presentation-img.png" alt="a women playing chess against a robot" width="500" height="auto">
    </div>
    <div class="col-12 col-md-2 align-self-center offset-md-3">
      <div class="d-grid gap-2">
        <a class="px-5 fs-4 text-decoration-none badge rounded-pill bg-white text-uppercase text-dark" role="button" href="{{ url_for('game_setup') }}">start</a>
        <a class="px-5 fs-4 text-decoration-none badge rounded-pill bg-primary text-uppercase text-white" role="button" href="{{ url_for('science') }}">videnskaben</a>
        <a class="px-5 fs-4 text-decoration-none badge rounded-pill bg-danger text-uppercase text-white" role="button" href="https://www.chess.com/da/skak-regler" target="_blank">regler</a>
      </div>
    </div>
  </div>
{% endblock %}
