.index-bg {
  background-color: #589cf4;
}

.title {
  font-family: Helvetica;
}

.difficulty-container {
  border-radius: 2rem;
}

.card-border {
  border-radius: 1.6rem;
}

.proper-icon-size {
  font-size: 2em;
}

#left-arrow, #right-arrow {
  color: #0f51f9
}

.canvas {
  /* The reason why we are adding 16px 2 times to the 800px
   * is because the bootstrap "col" class adds 16px padding horizontally on each side
   * */
  max-width: calc(12px + 800px + 12px);
}
